# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===== Virtualenv =====
venv/
.env

# ===== Audio files =====
audio.wav
tts.mp3

# ===== OS =====
.DS_Store
Thumbs.db

# ===== IDE =====
.vscode/
.idea/
